/* Colors */
/* Transitions */
/* Breakpoints */
/* Resets */
@font-face {
  font-family: Bleach;
  src: url(../fonts/Bleach.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background-color: #4e0843; }

/* Detalles */
.importantWord {
  background: #ff00c8;
  background: -webkit-linear-gradient(to right, #ff00c8, #9932cc);
  background: linear-gradient(to right, #ff00c8, #9932cc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold; }

/* Secciones */
/* - HEADER -*/
.difxNav {
  height: 80px; }

.logo {
  font-family: Bleach;
  font-size: 60px;
  margin: 0px 40px;
  background-color: #731073;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%239a3993' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23b351ab' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%239a3993' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23b351ab' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23CC68C3' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%239e0294' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23b52aa9' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23CC44BF' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23b52aa9' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%239e0294' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23CC44BF' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%239e0294' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23CC44BF' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23b52aa9' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23CC44BF' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

.difxLink {
  font-size: 18px; }

.difxNav .nav-item:not(:last-child) {
  margin-right: 20px; }

.dropdown-toggle::after {
  transition: transform 0.15s linear; }

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px); }

.dropdown-menu {
  margin-top: 0;
  font-size: 18px; }

.form-control {
  font-size: 18px; }

.btn {
  border-color: #9932cc;
  color: #9932cc;
  font-weight: bold;
  font-size: 18px; }

.btn:hover {
  border-color: white;
  background-color: #C11AFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23bc1cee' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23b61ddd' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23b11fcc' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23ab20bb' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A622AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

@media screen and (max-width: 991px) {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 80px;
    position: relative;
    bottom: 8px; }
  .navbar-toggler {
    position: relative;
    bottom: 5px;
    margin: 0px 40px;
    font-size: 25px; }
  .container-fluid {
    padding: 0px; }
  #navbarSupportedContent {
    position: relative;
    bottom: 9px;
    height: 100vh;
    padding: 0px 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20; }
  #navbarSupportedContent .nav-link {
    margin: 20px;
    color: white; } }

/* - MAIN -*/
.difxMain {
  margin: 20px 0px; }

.difxMain--info__h1 {
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 0px 20px; }

.difxMain--info__p {
  color: white;
  text-align: center;
  padding: 0px 20px;
  font-size: 17px; }

.difxMain--info__img {
  width: 600px;
  display: none;
  border-radius: 100%; }

.difxCards {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif; }

.card2 {
  margin: 0px 20px; }

.difxCards h2 {
  font-size: 40px;
  color: white; }

.containerData {
  margin: 30px 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transform-style: preserve-3d; }

.containerData:hover {
  transition: 1.3s;
  transform: scale(1.1);
  box-shadow: 1px 1px 40px 1px violet; }

.containerData h2 {
  text-align: center;
  color: white;
  font-size: 25px; }

.containerData p {
  text-align: center;
  color: white;
  font-size: 12px; }

.difxData {
  display: flex;
  flex-wrap: wrap; }

@media screen and (min-width: 575px) {
  .difxMain--info__h1 {
    font-size: 35px; }
  .difxMain--info__p {
    font-size: 18px; }
  .containerData h2 {
    font-size: 35px; }
  .containerData p {
    font-size: 15px; }
  .containerData--btn span {
    font-size: 13px; } }

@media screen and (min-width: 767px) {
  .difxMain--info__h1 {
    font-size: 50px; }
  .difxMain--info__p {
    font-size: 20px; }
  .containerData h2 {
    font-size: 40px; }
  .containerData p {
    font-size: 18px; }
  .containerData--btn span {
    font-size: 15px; } }

@media screen and (min-width: 1119px) {
  .difxMain--info__h1 {
    font-size: 70px;
    text-align: center; }
  .difxMain--info__p {
    font-size: 20px;
    text-align: center; }
  .difxMain--info__img {
    width: 400px;
    display: flex;
    position: relative;
    left: 80px; } }

@media screen and (min-width: 1399px) {
  .difxMain--info__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/* Figuras */
.containerCards .difxCard--div .img--product {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke; }

.containerCards .difxCard--div .slide {
  width: 300px;
  height: 200px;
  transition: 0.5s; }

.containerCards .difxCard--div .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: .7s;
  transform: translateY(100px); }

.containerCards .difxCard--div:hover .slide.slide1 {
  transform: translateY(0px); }

.containerCards .difxCard--div .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); }

.containerCards .difxCard--div:hover .slide.slide2 {
  transform: translateY(0); }

.containerCards .difxCard--div .slide.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff; }

.containerCards .difxCard--div .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-align: center;
  color: #ffffff; }

.containerCards .difxCard--div .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: solid 4px white; }

.difxData--card {
  margin: 100px 0px;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  perspective: 500px; }

.difxData__card--content {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d; }

.difxData--card:hover .difxData__card--content {
  transform: rotateY(180deg);
  transition: transform 0.5s; }

.card--content__front, .card--content__back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden; }

.card--content__back {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  transform: rotateY(180deg); }

.content--back__h2 {
  font-weight: bold; }

.content--back__p {
  font-size: 15px;
  overflow: hidden; }

.bi-camera2 {
  font-size: 100px;
  line-height: 300px;
  background: linear-gradient(#ff00c8, #9932cc);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold; }

.bi-piggy-bank-fill {
  font-size: 100px;
  line-height: 300px;
  background: linear-gradient(#ff00c8, #9932cc);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold; }

.piggyBank--back {
  color: black;
  font-size: 50px;
  line-height: 0px; }

.camaraback {
  color: black;
  font-size: 50px;
  line-height: 0px; }

@media screen and (min-width: 992px) {
  .difxCards {
    flex-direction: row; }
  .card2 {
    margin: 0px 20px; } }

.difxbtn {
  align-self: center;
  margin: 10px auto;
  min-width: 130px;
  height: 40px;
  font-size: 15px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  left: 40px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%); }

.difxbtn:hover {
  background-position: right center; }

.difxbtn:active {
  top: 2px; }

.containerData--btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  bottom: 5px;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #2c0b8e;
  background: #2c0b8e; }

.containerData--btn:hover {
  background: #fff;
  color: #2c0b8e; }
