/* Fuentes, Reset y Base */
@font-face {
  font-family: Bleach;
  src: url(../fonts/Bleach.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); }

/* Header */
.difxNav {
  height: 80px; }
  .difxNav .logo {
    font-family: Bleach;
    margin: 0px 40px;
    font-size: 60px;
    background-color: #731073;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%239a3993' breaks='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23b351ab' breaks='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%239a3993' breaks='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23b351ab' breaks='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23CC68C3' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%239e0294' breaks='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23b52aa9' breaks='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23CC44BF' breaks='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23b52aa9' breaks='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%239e0294' breaks='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23CC44BF' breaks='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%239e0294' breaks='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23CC44BF' breaks='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23b52aa9' breaks='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23CC44BF' breaks='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
    @media (max-width: 991px) {
      .difxNav .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        font-size: 70px;
        position: relative;
        bottom: 4px; } }
  .difxNav .difxLink {
    font-size: 18px; }
  .difxNav .nav-item {
    padding: 0px 10px; }
  .difxNav .difxNav {
    margin-right: 20px; }
    .difxNav .difxNav .nav-item:not(:last-child) {
      margin-right: 20px; }
  .difxNav .dropdown-toggle::after {
    transition: transform 0.15s linear; }
  .difxNav .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px); }
  .difxNav .dropdown-menu {
    margin-top: 0;
    font-size: 15px; }
  .difxNav .btn {
    border-color: #9932cc;
    color: #9932cc;
    font-weight: bold;
    font-size: 15px; }
    .difxNav .btn:hover {
      transition: .5s;
      color: white;
      border-color: white;
      background-color: #C11AFF;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%239a3993' breaks='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23b351ab' breaks='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%239a3993' breaks='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23b351ab' breaks='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23CC68C3' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%239e0294' breaks='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23b52aa9' breaks='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23CC44BF' breaks='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23b52aa9' breaks='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%239e0294' breaks='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23CC44BF' breaks='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%239e0294' breaks='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23CC44BF' breaks='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23b52aa9' breaks='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23CC44BF' breaks='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover; }
  .difxNav .form-control {
    font-size: 15px; }
  @media (max-width: 991px) {
    .difxNav .navbar-toggler {
      position: relative;
      font-size: 20px;
      bottom: 6px;
      margin: 0px 40px; }
    .difxNav .container-fluid {
      padding: 0px; }
    .difxNav #navbarSupportedContent {
      position: relative;
      bottom: 4px;
      height: 100vh;
      padding: 0px 50px;
      color: white;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 20;
      text-align: center; }
    .difxNav #navbarSupportedContent .nav-link {
      margin: 20px;
      color: white; } }

/* Index Main */
/* PRINCIPAL SET */
.difxMain {
  margin: 20px 0px; }
  .difxMain span {
    background: #ff00c8;
    background: -webkit-linear-gradient(to right, #ff00c8, #9932cc);
    background: linear-gradient(to right, #ff00c8, #9932cc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold; }
  .difxMain .difxMain--info__h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    padding: 0px 20px; }
    @media (max-width: 1199px) and (min-width: 992px) {
      .difxMain .difxMain--info__h1 {
        font-size: 70px;
        text-align: center; } }
    @media (max-width: 991px) {
      .difxMain .difxMain--info__h1 {
        font-size: 55px; } }
    @media (max-width: 767px) {
      .difxMain .difxMain--info__h1 {
        font-size: 40px; } }
    @media (max-width: 575px) {
      .difxMain .difxMain--info__h1 {
        font-size: 35px; } }
  .difxMain .difxMain--info__p {
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 15px 20px; }
    @media (max-width: 1199px) and (min-width: 992px) {
      .difxMain .difxMain--info__p {
        font-size: 17px;
        text-align: center; } }
    @media (max-width: 767px) {
      .difxMain .difxMain--info__p {
        font-size: 17px;
        position: relative;
        top: 20px; } }
    @media (max-width: 575px) {
      .difxMain .difxMain--info__p {
        font-size: 18px; } }
  @media (max-width: 1399px) {
    .difxMain .difxMain--info__div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

/* MAIN CARDS */
/* CARDS REDIRECT */
.difxCards {
  margin: 40px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: sans-serif; }
  .difxCards h2 {
    font-size: 40px;
    color: white; }
  .difxCards .card2 {
    padding: 0px 20px; }
    @media (max-width: 575px) {
      .difxCards .card2 {
        margin: 60px 0px; } }

/* CARD MARKETING*/
.containerData {
  margin: 80px 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transform-style: preserve-3d; }
  .containerData:hover {
    transition: 1.3s;
    transform: scale(1);
    box-shadow: 1px 1px 20px 1px #a51fa5; }
  .containerData h2 {
    color: white;
    text-align: center;
    font-size: 40px; }
    @media (max-width: 767px) {
      .containerData h2 {
        font-size: 40px; } }
    @media (max-width: 575px) {
      .containerData h2 {
        font-size: 35px; } }
  .containerData p {
    color: white;
    text-align: center;
    font-size: 15px; }
    @media (max-width: 767px) {
      .containerData p {
        font-size: 18px; } }
    @media (max-width: 575px) {
      .containerData p {
        padding: 0px 5px;
        align-self: center;
        font-size: 15px;
        text-align: center; } }
  .containerData button {
    background: #ff00c8;
    background: -webkit-linear-gradient(to right, #ff00c8, #9932cc);
    background: linear-gradient(to right, #ff00c8, #9932cc);
    border: none;
    box-shadow: none;
    margin: 10px 0px; }
    .containerData button:hover {
      transition: 1s;
      border: solid 1px #82c3ee;
      box-shadow: 0px 0px 20px 0px #731073; }
      .containerData button:hover p {
        color: white; }
  @media (max-width: 575px) {
    .containerData {
      display: flex; } }

/* CARD DATA */
.difxData {
  display: flex;
  flex-wrap: wrap; }
  .difxData .difxData--card {
    margin: 10px 0px;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    perspective: 500px; }
    .difxData .difxData--card .difxData__card--content {
      width: 100%;
      height: 100%;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      transition: transform 1s;
      transform-style: preserve-3d; }
    .difxData .difxData--card:hover .difxData__card--content {
      transform: rotateY(180deg);
      transition: transform 0.5s; }
    .difxData .difxData--card .card--content__front, .difxData .difxData--card .card--content__back {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      text-align: center;
      border-radius: 5px;
      backface-visibility: hidden; }
    .difxData .difxData--card .bi-camera2, .difxData .difxData--card .bi-piggy-bank-fill {
      font-size: 100px;
      line-height: 300px;
      background: linear-gradient(#ff00c8, #9932cc);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold; }
    .difxData .difxData--card .camaraback, .difxData .difxData--card .piggyBank--back {
      color: black;
      font-size: 50px;
      line-height: 0px; }
    .difxData .difxData--card .card--content__back {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.5);
      color: black;
      transform: rotateY(180deg); }
    .difxData .difxData--card .content--back__h2 {
      font-weight: bold; }
    .difxData .difxData--card .content--back__p {
      font-size: 15px;
      overflow: hidden; }

/* CARDS PRINCIPAL */
.containerCards .difxCard--div .img--product {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke; }

.containerCards .difxCard--div .slide {
  width: 300px;
  height: 200px;
  transition: 0.5s; }

.containerCards .difxCard--div .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: .7s;
  transform: translateY(100px); }
  @media (max-width: 575px) {
    .containerCards .difxCard--div .slide.slide1 {
      z-index: none;
      transition: none;
      transform: none; } }

.containerCards .difxCard--div .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); }
  @media (max-width: 575px) {
    .containerCards .difxCard--div .slide.slide2 {
      transition: none;
      transform: none; } }
  .containerCards .difxCard--div .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
    color: #ffffff; }
  .containerCards .difxCard--div .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    border: solid 4px white; }

.containerCards .difxCard--div:hover .slide.slide1 {
  transform: translateY(0px); }
  @media (max-width: 575px) {
    .containerCards .difxCard--div:hover .slide.slide1 {
      transform: none; } }

.containerCards .difxCard--div:hover .slide.slide2 {
  transform: translateY(0); }
  .containerCards .difxCard--div:hover .slide.slide2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff; }
  @media (max-width: 575px) {
    .containerCards .difxCard--div:hover .slide.slide2 {
      transform: none; } }

/* Buttons */
.difxbtn {
  align-self: center;
  margin: 10px auto;
  min-width: 130px;
  height: 40px;
  font-size: 15px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: breaker;
  transition: all 0.3s ease;
  position: relative;
  left: 40px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%); }
  .difxbtn:hover {
    background-position: right center; }
  .difxbtn:active {
    top: 1px;
    bottom: 1px; }

.containerData--btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: breaker;
  transition: all 0.3s ease;
  position: relative;
  bottom: 5px;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #2c0b8e;
  background: #2c0b8e; }
  .containerData--btn:hover {
    transition: 1s;
    border-color: none; }
  .containerData--btn p {
    text-align: center;
    margin: auto;
    padding: auto; }
  @media (max-width: 767px) {
    .containerData--btn span {
      font-size: 15px; } }
  @media (max-width: 575px) {
    .containerData--btn span {
      font-size: 13px; } }

/* Internal Pages*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 80px 1fr auto; }
  .grid-container .header-internal {
    grid-area: header;
    grid-column: span 5;
    grid-row: 1; }
  .grid-container .main-internal {
    grid-area: main;
    grid-column: span 5;
    grid-row: 2; }
  .grid-container .footer-internal {
    grid-area: footer;
    grid-column: span 5;
    grid-row: 3; }

.internalMain--data {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px 0px black; }
  .internalMain--data h1 {
    color: white;
    font-size: 25px;
    margin: 5px 20px;
    padding: none;
    font-weight: bold; }
    @media (min-width: 747px) {
      .internalMain--data h1 {
        font-size: 40px; } }
  .internalMain--data h2 {
    color: white;
    font-size: 15px;
    margin: 0px 20px;
    padding: 5px 0px;
    font-weight: none; }
    @media (min-width: 747px) {
      .internalMain--data h2 {
        font-size: 17px; } }
  .internalMain--data p {
    color: white;
    font-size: 13px;
    margin: 5px 20px;
    padding: 5px 0px;
    font-weight: none; }
    @media (min-width: 747px) {
      .internalMain--data p {
        font-size: 15px; } }
  .internalMain--data .fx-video {
    text-decoration: none;
    color: white;
    position: relative;
    background: #ff00c8;
    background: -webkit-linear-gradient(to right, #ff00c8, #9932cc);
    background: linear-gradient(to right, #ff00c8, #9932cc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold; }

/* Cards */
.internalMain--cards .flex--container__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }

.internalMain--cards .card--grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  gap: 4rem;
  grid-template-rows: 1fr;
  padding: 2rem;
  margin: 0 auto;
  width: max-content; }
  @media (min-width: 991px) {
    .internalMain--cards .card--grid {
      grid-template-columns: 1fr; } }
  @media (min-width: 500px) {
    .internalMain--cards .card--grid {
      padding: 4rem 2rem; } }
  .internalMain--cards .card--grid .containerCard .internalCard {
    background: rgba(0, 0, 0, 0.5) var(--bg-img);
    background-blend-mode: darken;
    transition: all, 1s;
    height: 20em;
    width: 15em;
    margin: none;
    padding: 1em;
    color: #fff;
    border: 10px solid #fff;
    font-size: 1.5em;
    display: flex;
    justify-content: none;
    align-items: flex-end;
    border-radius: 1em;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5em -1em #000;
    position: relative;
    overflow: hidden;
    text-decoration: none; }
    .internalMain--cards .card--grid .containerCard .internalCard h1 {
      margin: 0;
      font-size: 1.5em;
      line-height: 1.2em; }
    .internalMain--cards .card--grid .containerCard .internalCard p {
      font-size: 0.75em;
      margin-top: 0.5em;
      line-height: 2em; }
    .internalMain--cards .card--grid .containerCard .internalCard .tags {
      display: flex; }
      .internalMain--cards .card--grid .containerCard .internalCard .tags .tag {
        font-size: 0.75em;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 0.3rem;
        padding: 0 0.5em;
        margin-right: 0.5em;
        line-height: 1.5em;
        transition: all, 1s; }
    .internalMain--cards .card--grid .containerCard .internalCard:hover {
      transform: rotate(0);
      color: #111111; }
      .internalMain--cards .card--grid .containerCard .internalCard:hover .tags .tag {
        background: #111111;
        color: white; }
    .internalMain--cards .card--grid .containerCard .internalCard .date {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.75em;
      padding: 1em;
      line-height: 1em;
      opacity: .8; }
    .internalMain--cards .card--grid .containerCard .internalCard:after {
      background: white;
      width: 200%;
      height: 200%; }
    .internalMain--cards .card--grid .containerCard .internalCard:before {
      background: #ff00c8;
      background: -webkit-linear-gradient(to right, #ff00c8, #9932cc);
      background: linear-gradient(to right, #ff00c8, #9932cc);
      width: 250%;
      height: 250%; }
    .internalMain--cards .card--grid .containerCard .internalCard:before, .internalMain--cards .card--grid .containerCard .internalCard:after {
      content: '';
      transform: scale(0);
      transform-origin: top left;
      border-radius: 50%;
      position: absolute;
      left: -50%;
      top: -50%;
      z-index: -5;
      transition: all, 1s;
      transition-timing-function: ease-in-out; }
    .internalMain--cards .card--grid .containerCard .internalCard:hover:before,
    .internalMain--cards .card--grid .containerCard .internalCard .card:hover:after {
      transform: scale(1); }

/* Anuncio */
.anuncio {
  display: flex;
  justify-content: center;
  align-items: center; }
  .anuncio a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black; }
    .anuncio a .anuncio-container {
      margin: 10px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: 200px;
      background-color: white; }
      @media (max-width: 1199px) and (min-width: 992px) {
        .anuncio a .anuncio-container {
          flex-direction: column;
          height: 100%; } }
      @media (max-width: 991px) {
        .anuncio a .anuncio-container {
          flex-direction: column;
          height: 100%; } }
      .anuncio a .anuncio-container img {
        width: 400px;
        height: 100%; }
        @media (max-width: 1399px) {
          .anuncio a .anuncio-container img {
            width: 250px; } }
        @media (max-width: 1199px) and (min-width: 992px) {
          .anuncio a .anuncio-container img {
            width: 100%; } }
        @media (max-width: 991px) {
          .anuncio a .anuncio-container img {
            width: 100%; } }
      .anuncio a .anuncio-container .anuncio-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        padding: 20px 0px; }
        .anuncio a .anuncio-container .anuncio-info h2 {
          padding: 0px 20px;
          text-align: center; }
          .anuncio a .anuncio-container .anuncio-info h2 span {
            background: #ff00c8;
            background: -webkit-linear-gradient(to right, #ff00c8, #9932cc);
            background: linear-gradient(to right, #ff00c8, #9932cc);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-weight: bold; }
        .anuncio a .anuncio-container .anuncio-info button {
          height: 45px;
          margin-top: 20px;
          background-color: #9932cc;
          border: none;
          border: solid 2px black; }
          .anuncio a .anuncio-container .anuncio-info button p {
            margin: auto;
            font-size: 15px;
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 10px; }
            @media (max-width: 400px) {
              .anuncio a .anuncio-container .anuncio-info button p {
                font-size: 13px;
                padding: 0px; } }
          @media (max-width: 400px) {
            .anuncio a .anuncio-container .anuncio-info button {
              width: 80%; } }
