.difxbtn{
    @include botonCardOne;
        &:hover{
            background-position: right center;
        }
        &:active{
            top: 1px;
            bottom: 1px;
        }
}

.containerData--btn{
    @include containerData();
    &:hover{
        transition: 3s;
        background: $violet;
    }
        p{
            text-align: center;
            margin: auto;
            padding: auto;
        }
}
