.difxMain{
    margin: 20px 0px;
}

.difxMain--info__h1{
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 0px 20px;
}

.difxMain--info__p{
    color: white;
    text-align: center;
    padding: 0px 20px;
    font-size: 17px;
}

.difxMain--info__img{
    width: 600px;
    display: none;
    border-radius: 100%;
}

.difxCards {
    margin:0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: row;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.card2{
    margin: 0px 20px
}

.difxCards h2{
    font-size: 40px;
    color: white;
}

.containerData{
    margin: 30px 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $opacityCard;
    border-radius: 5px;
    transform-style: preserve-3d;
}

.containerData:hover{
    transition: 1.3s;
    transform: scale(1.1);
    box-shadow: 1px 1px 40px 1px violet;
}

.containerData h2{
    text-align: center;
    color: white;
    font-size: 25px;
}

.containerData p{
    text-align: center;
    color: white;
    font-size: 12px;
}

.difxData{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: $media-sm_Mobile){
.difxMain--info__h1{
    font-size: 35px;
}

.difxMain--info__p{
    font-size: 18px;
}

.containerData h2{
    font-size: 35px;
}

.containerData p{
    font-size: 15px;
}

.containerData--btn span{
    font-size: 13px;
}
}

@media screen and (min-width: $media-md_Tablet){
.difxMain--info__h1{
    font-size: 50px;
}

.difxMain--info__p{
    font-size: 20px;
}

.containerData h2{
    font-size: 40px;
}

.containerData p{
    font-size: 18px;
}

.containerData--btn span{
    font-size: 15px;
}
}

@media screen and (min-width: $media-xl-Desktop){ 
.difxMain--info__h1{
    font-size: 70px;
    text-align: center;
}

.difxMain--info__p{
    font-size: 20px;
    text-align: center;
}

.difxMain--info__img{
    width: 400px;
    display: flex;
    position: relative;
    left: 80px;
}
}

@media screen and (min-width: $media-xxl-Desktop){
.difxMain--info__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}