// SCSS Set //
// Variables //

$darkBlue: #2c0b8e;
$white: #fff;
$black: #000;

// Basics Defaults Mixins //

@mixin bdMixin($h, $w, $m, $pad, $c, $b, $fs){
    height: $h;
    width: $w;
    margin: $m;
    padding: $pad;
    color: $c;
    border: $b;
    font-size: $fs;
}



    // Header <== Colores característicos del footer //
        // => Mapeos <= // 

$coloresHeader: (
    logo: #731073,
    boton: #9932cc,
    backgroundBotonHover: #C11AFF,
    backgroundImg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%239a3993' breaks='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23b351ab' breaks='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%239a3993' breaks='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23b351ab' breaks='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23CC68C3' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%239e0294' breaks='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23b52aa9' breaks='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23CC44BF' breaks='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23b52aa9' breaks='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%239e0294' breaks='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23CC44BF' breaks='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%239e0294' breaks='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23CC44BF' breaks='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23b52aa9' breaks='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23CC44BF' breaks='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E")
);

    // Main //

$coloresMain: (
    letras: white,
);

    // Mixins // 

@mixin setText($c, $ta, $fs, $pad) {
    color: $c;
    text-align: $ta;
    font-size: $fs;
    padding: $pad;
};

@mixin basicEditText($c, $ta, $fs) {
    color: $c;
    text-align: $ta;
    font-size: $fs;
};

@mixin important() {
    background: #ff00c8; 
    background: -webkit-linear-gradient(to right, #ff00c8, #9932cc); 
    background: linear-gradient(to right, #ff00c8, #9932cc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
};

    // Cards // 
        // Main //
            // <i> import /* <== Imágenes extraídas de CDN's //

@mixin iCardsFront() {
    font-size: 100px;
    line-height: 300px;
    background: linear-gradient(#ff00c8, #9932cc);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
};

@mixin iCardsBack() {
    color: black;
    font-size: 50px;
    line-height: 0px;
}; 

    // Botones //

@mixin botonCardOne() {
    align-self: center;
    margin: 10px auto;
    min-width: 130px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: breaker;
    transition: all 0.3s ease;
    position: relative;
    left: 40px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);
};

@mixin containerData() {
    min-width: 130px;
    height: 40px;
    color: $white;
    padding: 5px 10px;
    font-weight: bold;
    cursor: breaker;
    transition: all 0.3s ease;
    position: relative;
    bottom: 5px;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid $darkBlue;
    background: $darkBlue;
}

    // Internal Pages //

        // Variables //

        $transition: 1s;
        $filtroOpaco: 0.5;
        $img: --bg-img;

        // Mixins //

@mixin info($c, $fs, $m, $pad, $fw){
    color: $c;
    font-size: $fs;
    margin: $m;
    padding: $pad;
    font-weight: $fw;
}

@mixin displays($d, $jc, $ai){
    display: $d;
    justify-content: $jc;
    align-items: $ai;
}

@mixin gridCards($gtc, $gtr, $gap){
    grid-template-columns: $gtc;
    grid-template-rows: $gtr;
    gap: $gap;
}

@mixin cardsFx(){
    background: rgba(0,0,0, 0.5) var(--bg-img);
    background-blend-mode: darken;
    transition: all, $transition;
}
        // Mapping//
$internalCards: (
    container: rgb(17, 17, 17)
);




    // Variables Media Queries Index //

$xxlDesktop: 1399px;
$xlDesktop: 1199px;
$desktopToTabletMax: 991px;
$desktopToTabletMin: 992px;
$tablet: 767px;
$mobile: 575px;

    // Mixins Media Queries Index // 

@mixin mQuerie($break) {
    @if $break == xxlDesktop {
    @media (max-width: $xxlDesktop) { @content; }
    } 
    @else if $break == xlDesktop {
    @media (max-width: $xlDesktop) and (min-width: $desktopToTabletMin) { @content; }
    }
    @else if $break == tabletMax {
    @media (max-width: $desktopToTabletMax) { @content; }
    }
    @else if $break == tabletMin {
    @media (min-width: $desktopToTabletMin) { @content; }
    }
    @else if $break == tablet {
    @media (max-width: $tablet) { @content; }
    }
    @else if $break == mobile{
    @media (max-width: $mobile){ @content; }
    }
}

    // Internal Media Queries Variables //

$intDesktopToTabletMin: 991px;
$intDesktopToTabletMax: 990px;
$intTablet: 747px;
$intMobile: 500px;
$intMobile--2: 450px;

    // Mixins Media Queries Internal //

@mixin int--mQuerie($intBreak){
    @if $intBreak == tabletMin{
        @media (min-width: $intDesktopToTabletMin) { @content; }
    }
    @else if $intBreak == tabletMax{
        @media (max-width: $intDesktopToTabletMax) { @content; }
    }
    @else if $intBreak == tablet{
        @media (min-width: $intTablet) { @content; }
    }
    @else if $intBreak == mobile500{
        @media (min-width: $intMobile) { @content; }
    }
    @else if $intBreak == mobile450{
        @media (min-width: $intMobile--2) { @content; }
    }
}
