/* Colors */

$color: rgb(17, 17, 17);
$opacityCard: rgba(0,0,0, 0.5);
$opacityShadow: rgba(0,0,0,0.4);
$opacityShadowIntense: rgba(0,0,0,0.1);
$backgroundCard: rgba(255, 255, 255, 0.5);
$difxColor: linear-gradient(#ff00c8, #9932cc);
$botonCards: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);


/* Transitions */ 

$transition-time: 1s;
